<config>
    <modules>
        <Arrakis_404EverGone>
            <version>0.1.1</version>
        </Arrakis_404EverGone>
    </modules>
    <global>
        <blocks>
            <arrakis_404evergone>
                <class>Arrakis_404EverGone_Block</class>
            </arrakis_404evergone>
        </blocks>
        <helpers>
            <arrakis_404evergone>
                <class>Arrakis_404EverGone_Helper</class>
            </arrakis_404evergone>
        </helpers>
        <models>
            <arrakis_404evergone>
                <class>Arrakis_404EverGone_Model</class>
                <resourceModel>arrakis_404evergone_resource</resourceModel>
            </arrakis_404evergone>
            <arrakis_404evergone_resource>
                <class>Arrakis_404EverGone_Model_Resource</class>
                <entities>
                    <rewriterule>
                        <table>arrakis_404evergone_rewriterule</table>
                    </rewriterule>
                </entities>
            </arrakis_404evergone_resource>
        </models>
		<resources>
			<arrakis_404evergone_setup>
				<setup>
					<module>Arrakis_404EverGone</module>
					<class>Arrakis_404EverGone_Model_Resource_Setup</class>
				</setup>
			</arrakis_404evergone_setup>
		</resources>
    </global>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <arrakis_404evergone before="Mage_Cms">Arrakis_404EverGone</arrakis_404evergone>
                    </modules>
                </args>
            </cms>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <arrakis_404evergone before="Mage_Adminhtml">Arrakis_404EverGone_Adminhtml</arrakis_404evergone>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Arrakis_404EverGone>
                    <files>
                        <default>Arrakis_404EverGone.csv</default>
                        <adminhtml>Mage_Adminhtml.csv</adminhtml>
                    </files>
                </Arrakis_404EverGone>
            </modules>
        </translate>
    </adminhtml>
</config>